{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="container mt-3">
  {% if user.is_authenticated %}
    <h2>{{ title }}</h2>
    {% if cat_selected %}
      <p><a href="{% url 'update_category' cat_slug=cat_selected %}">Update category</a></p>
      <p><a href="{% url 'delete_category' cat_slug=cat_selected %}">Delete category</a></p>
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for task in tasks %}
      {% if task.priority == 'L' %}
        <tr class="table-info">
          <td><a href="{{ task.get_absolute_url }}">{{task.title}}</a></td>
          <td>{{task.category}}</td>
          <td>{{task.get_priority_display}}</td>
          <td><a href="{% url 'update_task' task_slug=task.slug %}">Update</a></td>
          <td><a href="{% url 'delete_task' id=task.id %}">Delete</a></td>
        </tr>

      {% elif task.priority == 'M' %}
        <tr class="table-warning">
          <td><a href="{{ task.get_absolute_url }}">{{task.title}}</a></td>
          <td>{{task.category}}</td>
          <td>{{task.get_priority_display}}</td>
          <td><a href="{% url 'update_task' task_slug=task.slug %}">Update</a></td>
          <td><a href="{% url 'delete_task' id=task.id %}">Delete</a></td>
        </tr>

      {% elif task.priority == 'H' %}
        <tr class="table-danger">
          <td><a href="{{ task.get_absolute_url }}">{{task.title}}</a></td>
          <td>{{task.category}}</td>
          <td>{{task.get_priority_display}}</td>
          <td><a href="{% url 'update_task' task_slug=task.slug %}">Update</a></td>
          <td><a href="{% url 'delete_task' id=task.id %}">Delete</a></td>
        </tr>

      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>To start using <a href="{% url 'register_user' %}">Register</a> or <a href="{% url 'login_user' %}">Login</a></p>
  {% endif %}
</div>
{% endblock %}


